@font-face {
    font-family: Proximanova;
    src: url(Fontspring-DEMO-proximanova-black.otf);
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(199, 199, 199);
}

html{
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgb(4, 26, 46),rgb(1,9,16));

}

.sidebar{

    display:flex;
    flex: 1 1 600px;
    position: fixed;
    max-width: 250px;
    width:100%;
    min-height: 600px;
    max-height:60vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15vh 12px 15vh 12px;
    background-color: rgb(5, 15, 24);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.05), 2px 2px 8px rgba(255, 255, 255, 0.1);
    gap: 2rem;

}

.nav-element{
    display: inline-block;       
    width: 150px;                
    padding: 10px 15px;          
    text-align: center;          
    border: 1px solid #ccc;      
    border-radius: 8px;          
    margin: 5px;                 
    text-decoration: none;       
    color: inherit;              
}

.main-wrapper{
    display:flex;
}

.main{
    align-items: center;
    border:1px solid white;
    margin:30px 10px 30px 280px;
    flex:1;
    min-width: 400px;
    
}

#name-header{
    height:500px;
    border:1px solid white;
}

#tech-stack-paragraph{
    height:500px;
    border:1px solid white;
}

#projects-paragraph{
    height:500px;
    border:1px solid white;
}

#contact-me-paragraph{
    height:500px;
    border:1px solid white;
}