@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Roboto, 'Times New Roman','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(199, 199, 199);
}

html{
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgb(4, 26, 46),rgb(1,9,16));

}

a {
    text-decoration: none;
}

.sidebar{

    display:flex;
    flex: 1 1 600px;
    position: fixed;
    max-width: 250px;
    width:100%;
    min-height: 600px;
    max-height:60vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15vh 12px 15vh 12px;
    background-color: rgb(5, 15, 24);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.05), 2px 2px 8px rgba(255, 255, 255, 0.1);
    gap: 3rem;

}

.nav-element{
    display:inline-block;       
    min-width: 150px;                
    padding: 18px 30px;          
    text-align: center;          
    border: 1px solid #ccc;      
    border-radius: 8px;                           
    text-decoration: none;            
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;       
}

.nav-element:hover{
    background-color: rgba(45, 87, 124, 0.528);
    transform: scale(1.1);
    box-shadow: 0px 0px 12px rgba(0, 180, 255, 0.7); /* Glowing effect */
}

.nav-element:active{
    transform: scale(0.9);
    box-shadow: 0px 0px 6px rgba(0, 180, 255, 0.9); /* Adjust glow effect */
    background-color: rgba(31, 61, 87, 0.528);
}

.main-wrapper{
    display:flex;
}

.main{
    align-items: center;
    border:1px solid white;
    margin:30px 10px 30px 280px;
    flex:1;
    min-width: 400px;
    
}

#name-header{
    height:500px;
    border:1px solid white;
}

#tech-stack-paragraph{
    height:500px;
    border:1px solid white;
}

#projects-paragraph{
    height:500px;
    border:1px solid white;
}

#my-resume-paragraph{
    height:500px;
    border:1px solid white;
}

#contact-me-paragraph{
    height:500px;
    border:1px solid white;
}